.gradle
.attach_pid*
build/
!gradle/wrapper/gradle-wrapper.jar
bin/
**/*.war
**/*.jar
**/*.class
**/*.zip
**/*.gz
**/*.tar


*.war
*.jar
*.class
*.zip
*.gz
*.tar


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/




**/gradle/*
**/.settings/*
**/target/*
**/.jpg/*
**/.png/*
**/bin/*
**/build/
**/.gradle/
**/.classpath
**/.project
/.nb-gradle/
Servers/*
.metadata/*
.sonarlint/*



