form{
    border: 2px solid black;
    margin: auto;
    width: 45%;
    border-radius: 10px;
}
header{
    text-align: center;
}
#hr{
    border-top: 2px dashed rgb(47, 46, 46);
    padding-left: 50px;
}
.firstLine{
    padding-top: 5px;
}
.content{
    padding-left: 25px;
}
h4{
    margin:15px 0 0 0;
}
footer{
    text-align: center;
    margin-bottom: 25px;
}
.secLine{
    padding-top: 10px;
}
